@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

*::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
}

/* Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: white white;
}
/* Buttons */

.primary {
  z-index: 1;
  transition: all 0.2s;
  position: relative;
  width: 100%;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.primary:hover {
  text-decoration: none;
  transform: translate(-1px, -1px);
}

.primary-button {
  display: flex;
  z-index: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: #000000;
  text-align: center;
  background-color: #ffffff2a;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  transition: all 0.2s;
  position: relative;
  transform: translate(0);
  box-shadow: 1px 1px 1rem rgb(26 26 26 / 15%);
}

.primary-button:hover {
  text-decoration: none;
  transform: translate(-1px, -1px);
}

.primary-button-backdrop {
  z-index: -2;
  background: linear-gradient(20deg, #f8d38e 0%, #4686d9 100%);
  background-position: 0 0;
  background-size: cover;
  border-radius: 4px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transform: translate(0.5rem, 0.5rem);
  pointer-events: none;
}

.primary-light {
  z-index: 1;
  transition: all 0.2s;
  position: relative;
  width: 100%;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.primary-light:hover {
  text-decoration: none;
  transform: translate(-1px, -1px);
}

.primary-light-button {
  display: flex;
  z-index: 0;
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  color: #000000;
  text-align: center;
  background-color: #ffffff41;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  transition: all 0.2s;
  position: relative;
  transform: translate(0);
  box-shadow: 1px 1px 1rem rgb(26 26 26 / 15%);
}

.primary-light-button:hover {
  text-decoration: none;
  transform: translate(-1px, -1px);
}

.primary-light-button-backdrop {
  z-index: -2;
  background: linear-gradient(20deg, #f8d38e 0%, #4686d9 100%);
  background-position: 0 0;
  background-size: cover;
  border-radius: 4px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transform: translate(0.5rem, 0.5rem);
  pointer-events: none;
}

.pricing {
  z-index: 1;
  transition: all 0.2s;
  position: relative;
  width: 100%;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.pricing:hover {
  text-decoration: none;
  transform: translate(-1px, -1px);
}

.pricing-button {
  display: block;
  z-index: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: #ffffff;
  text-align: center;
  background-color: #131313f1;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  transition: all 0.2s;
  position: relative;
  transform: translate(0);
  box-shadow: 1px 1px 1rem rgb(26 26 26 / 15%);
}

.pricing-button:hover {
  text-decoration: none;
  transform: translate(-1px, -1px);
}

.pricing-button-backdrop {
  z-index: -2;
  background: linear-gradient(20deg, #f8d38e 0%, #4686d9 100%);
  background-position: 0 0;
  background-size: cover;
  border-radius: 4px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transform: translate(0.5rem, 0.5rem);
  pointer-events: none;
}

.section {
  z-index: 1;
  transition: all 0.2s;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.section:hover {
  text-decoration: none;
  transform: translate(-1px, -1px);
}

.section-button {
  display: flex;
  z-index: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: #d4d4d4;
  text-align: center;
  background-color: #313131;
  border-radius: 100rem;
  padding: 0.75rem 1.5rem;
  transition: all 0.2s;
  position: relative;
  transform: translate(0);
  box-shadow: 1px 1px 1rem rgb(26 26 26 / 15%);
}

.section-button:hover {
  text-decoration: none;
  transform: translate(-1px, -1px);
  background-color: #3d3d3d;
  transition-duration: 10ms;
  transition: all;
}

.section-button-backdrop {
  z-index: -2;
  background: #313131;
  background-position: 0 0;
  background-size: cover;
  border-radius: 100rem;
  border: #d4d4d4 1px solid;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transform: translate(-0.15rem, -0.1rem);
  pointer-events: none;
  height: 102%;
}
/* End Buttons */

/* Gallery */

.gallery {
  height: 175vh;
  background: #e8e8e8;
  position: relative;
  display: flex;
  gap: 2vw;
  padding: 2vw;
  box-sizing: border-box;
  overflow: hidden;
}

.gallery .column {
  position: relative;
  height: 100%;
  width: 25%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.gallery .column .imageContainer {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 1vw;
  overflow: hidden;
}

.gallery .column .imageContainer img {
  object-fit: cover;
  object-position: left;
}

.gallery .column:nth-of-type(1) {
  top: -45%;
}

.gallery .column:nth-of-type(2) {
  top: -95%;
}

.gallery .column:nth-of-type(3) {
  top: -45%;
}

.gallery .column:nth-of-type(4) {
  top: -75%;
}

.spacer {
  height: 10vh;
}

@media screen and (max-width: 768px) {
}

/* End Gallery */

/* Feature Card */

.feature-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: relative;
  border-radius: 20px;
  border: 1px solid #292b3d;
  border-bottom: none;
  background: linear-gradient(
    126.6deg,
    rgba(124, 130, 177, 0.12) 28.69%,
    rgba(17, 18, 27, 0) 100%
  );
}

/* End Feature Card */

/* Slider Text */

.sliderContainer {
  position: absolute;
}

.slider {
  position: relative;
  white-space: nowrap;
}

.slider p {
  position: relative;
  margin: 0px;
  color: white;
  font-size: 230px;
  padding-right: 180px;
}

.slider p:nth-of-type(2) {
  position: absolute;
  left: 100%;
  top: 0;
}

/* End Slider Text */

/* Back To Top */

.headerButtonContainer {
  transform: scale(0);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 20;
}

.headerButtonContainer .button {
  position: relative;
  margin: 20px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #1b1b1b;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.headerButtonContainer .burger {
  width: 100%;
  position: relative;
  z-index: 20;
}

.headerButtonContainer .burger::after,
.headerButtonContainer .burger::before {
  content: "";
  display: block;
  height: 1px;
  width: 40%;
  margin: auto;
  background-color: white;
  position: relative;
  transition: transform 0.3s;
}

.headerButtonContainer .burger::after {
  top: -5px;
}

.headerButtonContainer .burger::before {
  top: 5px;
}

.headerButtonContainer .burgerActive::after {
  transform: rotate(45deg);
  top: -1px;
}

.headerButtonContainer .burgerActive::before {
  transform: rotate(-45deg);
  top: 0px;
}

.roundedButton {
  border-radius: 3em;
  border: 1px solid rgb(136, 136, 136);
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 60px 15px 60px;
  overflow: hidden;
}

.roundedButton p {
  position: relative;
  z-index: 1;
  transition: color 0.4s linear;
}

.roundedButton:hover p {
  color: white;
}

.circle {
  width: 100%;
  height: 150%;
  position: absolute;
  border-radius: 50%;
  top: 100%;
}

/* End Back To Top */

/* Feature Cards */
.cardContainer {
  width: 100vw;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 165px;
}

.card {
  display: flex;
  flex-direction: row;
  position: relative;
  top: -25%;
  height: 690px;
  border-radius: 0px;
  transform-origin: top;
}

.card .body {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
}

.card .body .description {
  width: 100%;
  position: relative;
  top: 10%;
  align-items: start;
}

.card .body .imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card .body .imageContainer .inner {
  width: 100%;
  height: 100%;
}

.card .body .imageContainer img {
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .cardContainer {
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 210px;
  }

  .card {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -25%;
    height: 475px;
    border-radius: 0px;
    transform-origin: top;
  }

  .card .body {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  .card .body .description {
    width: 100%;
    position: relative;
    top: 10%;
    align-items: start;
  }

  .card .body .imageContainer {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .card .body .imageContainer .inner {
    width: 100%;
    height: 100%;
  }

  .card .body .imageContainer img {
    object-fit: cover;
  }
}

/* Feature Cards End */

/* Video Showreel */

.modalSlider {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.modal {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal img {
  height: auto;
}

.cursor,
.cursorLabel {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #ffab10;
  color: black;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.cursorLabel {
  background-color: transparent;
}

/* End Video Showreel */
