@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

/* Preloader */

.introduction {
  height: 100dvh;
  width: 100vw;
  position: fixed;
  z-index: 2147483005;
  background-color: #000000;
}

.introduction svg {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100% + 300px);
}

.introduction svg path {
  fill: #000000;
}

@media screen and (max-width: 450px) {
  .introduction svg {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% + 300px);
  }
}

/* End Preloader */

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

*::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
}

/* Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: white white;
}

.custom-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  pointer-events: none;
  z-index: 2147483002;
}

/* Feature Card */

.feature-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: relative;
  border-radius: 20px;
  border: 1px solid #292b3d;
  border-bottom: none;
  background: linear-gradient(
    126.6deg,
    rgba(124, 130, 177, 0.12) 28.69%,
    rgba(17, 18, 27, 0) 100%
  );
}

/* End Feature Card */

/* Back To Top */

.headerButtonContainer {
  transform: scale(0);
  position: fixed;
  bottom: 80px;
  right: 0;
  z-index: 2147483000;
}

.headerButtonContainer .button {
  position: relative;
  margin: 20px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #1b1b1b;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.headerButtonContainer .burger {
  width: 100%;
  position: relative;
  z-index: 20;
}

.headerButtonContainer .burger::after,
.headerButtonContainer .burger::before {
  content: "";
  display: block;
  height: 1px;
  width: 40%;
  margin: auto;
  background-color: white;
  position: relative;
  transition: transform 0.3s;
}

.headerButtonContainer .burger::after {
  top: -5px;
}

.headerButtonContainer .burger::before {
  top: 5px;
}

.headerButtonContainer .burgerActive::after {
  transform: rotate(45deg);
  top: -1px;
}

.headerButtonContainer .burgerActive::before {
  transform: rotate(-45deg);
  top: 0px;
}

.roundedButton {
  border-radius: 3em;
  border: 1px solid rgb(136, 136, 136);
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 60px 15px 60px;
  overflow: hidden;
}

.roundedButton p {
  position: relative;
  z-index: 1;
  transition: color 0.4s linear;
}

.roundedButton:hover p {
  color: white;
}

.circle {
  width: 100%;
  height: 150%;
  position: absolute;
  border-radius: 50%;
  top: 100%;
}

/* End Back To Top */

/* Feature Cards */
.cardContainer {
  width: 100vw;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 300px;
}

.card {
  display: flex;
  flex-direction: row;
  position: relative;
  top: -20%;
  height: 600px;
  border-radius: 0px;
  transform-origin: top;
}

.card .body {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
}

.card .body .description {
  width: 100%;
  position: relative;
  top: 10%;
  align-items: start;
}

.card .body .imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card .body .imageContainer .inner {
  width: 100%;
  height: 100%;
}

.card .body .imageContainer img {
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .cardContainer {
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 140px;
  }

  .card {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -25%;
    height: 580px;
    border-radius: 0px;
    transform-origin: top;
  }

  .card .body {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  .card .body .description {
    width: 100%;
    position: relative;
    top: 10%;
    align-items: start;
  }

  .card .body .imageContainer {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .card .body .imageContainer .inner {
    width: 100%;
    height: 100%;
  }

  .card .body .imageContainer img {
    object-fit: cover;
  }
}

/* Feature Cards End */

/* Video Showreel */

.modalSlider {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.modal {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal img {
  height: auto;
}

.cursor,
.cursorLabel {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #ffab10;
  color: black;
  position: absolute;
  z-index: 2147483000;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.cursorLabel {
  background-color: transparent;
}
.cursor-project,
.projectCursorLabel {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #ffab10;
  color: black;
  position: absolute;
  z-index: 2147483000;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.projectCursorLabel {
  background-color: transparent;
}

.cursor-services,
.cursorLabel-services {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #ffab10;
  color: black;
  position: absolute;
  z-index: 2147483000;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.cursorLabel-services {
  background-color: transparent;
}

/* End Video Showreel */
.projsButtonContainer {
  position: absolute;
  z-index: 50;
}
.projsButton {
  background-color: #455ce9;
  color: white;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.projsButton h4 {
  margin: 0px;
  z-index: 2;
  position: relative;
}
.projsButton p {
  margin: 0px;
  font-weight: 300;
  z-index: 2;
  position: relative;
}
/* MENU */

.svgCurve {
  position: absolute;
  top: 0;
  left: -99px;
  width: 100px;
  height: 100%;
  fill: black;
  stroke: none;
}

.menu {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  color: white;
  z-index: 214748301;
}

@media screen and (max-width: 400px) {
  .svgCurve {
    position: absolute;
    top: 0;
    left: -99px;
    width: 100px;
    height: 100%;
    fill: black;
    stroke: none;
  }
}

/* MENU END */

:root {
  --bounciness: 15;
}

.radio-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;

  > input[type="radio"] {
    display: none;
  }

  > label {
    display: flex;
    justify-content: center;
    &:hover {
      cursor: pointer;
    }
  }
}

.selection-indicator-wrapper {
  --transition-duration: 0.3s;
  --morph-factor: 0;
  width: 33.33%;
  height: 100%;
  position: absolute;
  z-index: 1;
  transition-duration: var(--transition-duration);
  transition-timing-function: cubic-bezier(
    0.25,
    calc(var(--bounciness) / 10),
    0.5,
    1
  );

  left: 0;
  top: 50%;
  translate: 0 -50%;
  pointer-events: none;
  transform: translateX(calc(var(--morph-factor) * 10%));
  scale: calc(1 + var(--morph-factor) * var(--morph-factor) * 0.05)
    calc(1 - var(--morph-factor) * var(--morph-factor) * 0.1);

  > span {
    background-color: #455ce9;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    transition-duration: calc(1.25 * var(--transition-duration));
    transition-timing-function: cubic-bezier(
      0.95,
      calc(0.5 * var(--bounciness)),
      0,
      1
    );
  }
}

.radio-group
  input[type="radio"]:nth-of-type(2):checked
  ~ .selection-indicator-wrapper {
  left: 33.33%;
}

.radio-group
  input[type="radio"]:nth-of-type(3):checked
  ~ .selection-indicator-wrapper {
  left: 66.66%;
}

.radio-group label:hover,
.radio-group label:focus-visible {
  ~ input:checked ~ .selection-indicator-wrapper {
    --morph-factor: -1;
  }
  &:active ~ input:checked ~ .selection-indicator-wrapper {
    --morph-factor: 1;
  }
}

.radio-group label:hover,
.radio-group label:focus-visible {
  ~ input ~ input:checked ~ .selection-indicator-wrapper {
    --morph-factor: -2;
  }
  &:active ~ input ~ input:checked ~ .selection-indicator-wrapper {
    --morph-factor: 2;
  }
}

.radio-group input:checked ~ input + label:hover,
.radio-group input:checked ~ input + label:focus-visible {
  ~ .selection-indicator-wrapper {
    --morph-factor: 1;
  }
  &:active ~ .selection-indicator-wrapper {
    --morph-factor: -1;
  }
}

.radio-group input:checked ~ input ~ input + label:hover,
.radio-group input:checked ~ input ~ input + label:focus-visible {
  ~ .selection-indicator-wrapper {
    --morph-factor: 2;
  }
  &:active ~ .selection-indicator-wrapper {
    --morph-factor: -2;
  }
}

.radio-group label:active ~ .selection-indicator-wrapper {
  --transition-duration: 0.1s;
  > span {
    scale: calc(1 + var(--morph-factor) * var(--morph-factor) * 0.05)
      calc(1 - var(--morph-factor) * var(--morph-factor) * 0.1);
    transition-timing-function: unset;
  }
}
