@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Buttons */

.pricing {
  z-index: 1;
  transition: all 0.2s;
  position: relative;
  width: 100%;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.pricing:hover {
  text-decoration: none;
  transform: translate(-1px, -1px);
}

.pricing-button {
  display: block;
  z-index: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: #ffffff;
  text-align: center;
  background-color: #131313f1;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  transition: all 0.2s;
  position: relative;
  transform: translate(0);
  box-shadow: 1px 1px 1rem rgb(26 26 26 / 15%);
}

.pricing-button:hover {
  text-decoration: none;
  transform: translate(-1px, -1px);
}

.pricing-button-backdrop {
  z-index: -2;
  background: linear-gradient(20deg, #f8d38e 0%, #4686d9 100%);
  background-position: 0 0;
  background-size: cover;
  border-radius: 4px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transform: translate(0.5rem, 0.5rem);
  pointer-events: none;
}

.section {
  z-index: 1;
  transition: all 0.2s;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.section:hover {
  text-decoration: none;
  transform: translate(-1px, -1px);
}

.section-button {
  display: block;
  z-index: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: #d4d4d4;
  text-align: center;
  background-color: #313131;
  border-radius: 100rem;
  padding: 0.75rem 1.5rem;
  transition: all 0.2s;
  position: relative;
  transform: translate(0);
  box-shadow: 1px 1px 1rem rgb(26 26 26 / 15%);
}

.section-button:hover {
  text-decoration: none;
  transform: translate(-1px, -1px);
}

.section-button-backdrop {
  z-index: -2;
  background: #313131;
  background-position: 0 0;
  background-size: cover;
  border-radius: 100rem;
  border: #d4d4d4 1px solid;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transform: translate(-0.15rem, -0.1rem);
  pointer-events: none;
  height: 102%;
}
/* End Buttons */
